<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">

	<!-- Define test suites -->
	<testsuites>
		<testsuite name="Artesis">
			<directory>tests/artesis</directory>
		</testsuite>
	</testsuites>

	<!-- Set logging facilities -->
	<logging>
		<log type="junit" target="logs/logfile.xml" logIncompleteSkipped="true" />
		<log type="testdox-html" target="logs/testdox.html" />
	</logging>

	<!-- Set PHP variables or ini settings -->
	<php>
		<var name="url" value="http://artesis-latest.ci.inlead.dk" />
	</php>

<!-- 
Allebib
http://allebib-latest.ci.inlead.dk/

Ringbib
http://ringbib-latest.ci.inlead.dk/

Slagbib
http://slagbib-latest.ci.inlead.dk/

Tarnbib
http://tarnbib-latest.ci.inlead.dk/

Varbib
http://varbib-latest.ci.inlead.dk/
 -->

</phpunit>
